In [174]:
import pandas as pd

In [175]:
files = ['../Data/EmploymentDirectVsIndirect/Employment_directVsIndirect2018.csv', 
         '../Data/EmploymentDirectVsIndirect/Employment_directVsIndirect2019.csv', 
         '../Data/EmploymentDirectVsIndirect/Employment_directVsIndirect2020.csv', 
         '../Data/EmploymentDirectVsIndirect/Employment_directVsIndirect2021.csv', 
         '../Data/EmploymentDirectVsIndirect/Employment_directVsIndirect2022.csv', 
         '../Data/EmploymentDirectVsIndirect/Employment_directVsIndirect2023.csv']

In [176]:
dfs = []
for file in files:
    df = pd.read_csv(file)
    year = int(file.split('Employment_directVsIndirect')[1].split('.csv')[0])
    df['Year']= year
    dfs.append(df)

In [93]:
employment_merged_df = pd.concat(dfs, ignore_index=True)

In [177]:
employment_merged_df.to_csv('../employmentdirectindirect.csv', index=False)

In [178]:
employment_merged_df=employment_merged_df.rename(columns={'Direct tourism employment':'Direct tourism employment(in thousands)','Total tourism-related employment':'Total tourism-related employment(in thousands)','Indirect tourism employment':'Indirect tourism employment(in thousands)'})

In [179]:
employment_merged_df.head()

,Industry,Direct tourism employment(in thousands),Total industry employment multiplier,Total tourism-related employment(in thousands),Year,Indirect tourism employment(in thousands)
0,Traveler accommodations,1555,1.42,2211,2018,656
1,Vacation home rentals,12,1.58,18,2018,6
2,Food services and drinking places,1835,1.18,2169,2018,334
3,Air transportation services,556,2.54,1413,2018,857
4,Rail transportation services,8,2.06,17,2018,9

In [180]:
employment_merged_df.to_csv('employmentdirectindirect.csv')

Convert into numeric

In [181]:
employment_merged_df['Direct tourism employment(in thousands)'] = pd.to_numeric(employment_merged_df['Direct tourism employment(in thousands)'].astype(str).str.replace(',', ''), errors='coerce')
employment_merged_df['Total tourism-related employment(in thousands)'] = pd.to_numeric(employment_merged_df['Total tourism-related employment(in thousands)'].astype(str).str.replace(',', ''), errors='coerce')

Calculate indirect employment

In [182]:
employment_merged_df['Indirect tourism employment(in thousands)'] = (employment_merged_df['Total tourism-related employment(in thousands)'] - employment_merged_df['Direct tourism employment(in thousands)'])

employment_merged_df.rename(columns={'Direct tourism employment':'Direct tourism employment(in thousands)','Total tourism-related employment':'Total tourism-related employment(in thousands)','Indirect tourism employment':'Indirect tourism employment(in thousands)'})

Dataframe of 2018

In [183]:
data_2018 = employment_merged_df[employment_merged_df['Year'] == 2018]

In [184]:
totals_2018 = data_2018.groupby('Industry')[['Direct tourism employment(in thousands)','Indirect tourism employment(in thousands)','Total tourism-related employment(in thousands)']].sum()
totals_2018.head()

,Direct tourism employment(in thousands),Indirect tourism employment(in thousands),Total tourism-related employment(in thousands)
Industry,,,
Air transportation services,556,857,1413
All other industries,97,75,172
All other recreation and entertainment,59,12,71
Automotive equipment rental and leasing,96,92,188
Automotive repair services,49,14,63

Total Employment(2018)

In [185]:
total_2018 = data_2018[['Direct tourism employment(in thousands)',  'Indirect tourism employment(in thousands)', 'Total tourism-related employment(in thousands)']].sum()
total_2018

Direct tourism employment(in thousands)           6191
Indirect tourism employment(in thousands)         3380
Total tourism-related employment(in thousands)    9571
dtype: int64

Total Employment(2019)

In [186]:
data_2019 = employment_merged_df[employment_merged_df['Year'] == 2019]
totals_2019 = data_2019.groupby('Industry')[['Direct tourism employment(in thousands)','Indirect tourism employment(in thousands)','Total tourism-related employment(in thousands)']].sum()
total_2019= data_2019[['Direct tourism employment(in thousands)',  'Indirect tourism employment(in thousands)', 'Total tourism-related employment(in thousands)']].sum()
total_2019

Direct tourism employment(in thousands)           6392
Indirect tourism employment(in thousands)         3497
Total tourism-related employment(in thousands)    9889
dtype: int64

Total Employment(2020)

In [187]:
data_2020 = employment_merged_df[employment_merged_df['Year'] == 2020]
totals_2020 = data_2020.groupby('Industry')[['Direct tourism employment(in thousands)','Indirect tourism employment(in thousands)','Total tourism-related employment(in thousands)']].sum()
total_2020= data_2020[['Direct tourism employment(in thousands)',  'Indirect tourism employment(in thousands)', 'Total tourism-related employment(in thousands)']].sum()
total_2020

Direct tourism employment(in thousands)           3676
Indirect tourism employment(in thousands)         2180
Total tourism-related employment(in thousands)    5856
dtype: int64

Total Employment(2021)

In [188]:
data_2021 = employment_merged_df[employment_merged_df['Year'] == 2021]
totals_2021 = data_2021.groupby('Industry')[['Direct tourism employment(in thousands)','Indirect tourism employment(in thousands)','Total tourism-related employment(in thousands)']].sum()
total_2021= data_2021[['Direct tourism employment(in thousands)',  'Indirect tourism employment(in thousands)', 'Total tourism-related employment(in thousands)']].sum()
total_2021

Direct tourism employment(in thousands)           5106
Indirect tourism employment(in thousands)         2760
Total tourism-related employment(in thousands)    7866
dtype: int64

Total Employment(2022)

In [189]:
data_2022 = employment_merged_df[employment_merged_df['Year'] == 2022]
totals_2022 = data_2022.groupby('Industry')[['Direct tourism employment(in thousands)','Indirect tourism employment(in thousands)','Total tourism-related employment(in thousands)']].sum()
total_2022= data_2022[['Direct tourism employment(in thousands)',  'Indirect tourism employment(in thousands)', 'Total tourism-related employment(in thousands)']].sum()
total_2022

Direct tourism employment(in thousands)           5840
Indirect tourism employment(in thousands)         3237
Total tourism-related employment(in thousands)    9077
dtype: int64

Total Employment(2023)

In [190]:
data_2023 = employment_merged_df[employment_merged_df['Year'] == 2023]
totals_2023 = data_2023.groupby('Industry')[['Direct tourism employment(in thousands)','Indirect tourism employment(in thousands)','Total tourism-related employment(in thousands)']].sum()
total_2023= data_2023[['Direct tourism employment(in thousands)',  'Indirect tourism employment(in thousands)', 'Total tourism-related employment(in thousands)']].sum()
total_2023

Direct tourism employment(in thousands)            6453
Indirect tourism employment(in thousands)          3547
Total tourism-related employment(in thousands)    10000
dtype: int64

Direct employment(2018)

In [191]:
industry_employment_2018 = data_2018[['Industry','Direct tourism employment(in thousands)']]

In [192]:
industry_employment_2018.head()

                            Industry  Direct tourism employment(in thousands)
0            Traveler accommodations                                     1555
1              Vacation home rentals                                       12
2  Food services and drinking places                                     1835
3        Air transportation services                                      556
4       Rail transportation services                                        8

In [193]:
direct_employment_industry = employment_merged_df[employment_merged_df['Year'] == 2023]
direct_employment_industry  = direct_employment_industry .groupby('Industry')['Direct tourism employment(in thousands)'].sum().sort_values(ascending=False)
direct_employment_industry.head()

Industry
Food services and drinking places                             2064
Traveler accommodations                                       1441
Air transportation services                                    619
Retail trade services, excluding gasoline service stations     415
Travel arrangement and reservation services                    327
Name: Direct tourism employment(in thousands), dtype: int64

In [194]:
indirect_employment_industry = employment_merged_df[employment_merged_df['Year'] == 2023]
indirect_employment_industry  = indirect_employment_industry .groupby('Industry')['Indirect tourism employment(in thousands)'].sum().sort_values(ascending=False)
indirect_employment_industry.head()

Industry
Air transportation services                                                        953
Traveler accommodations                                                            608
Food services and drinking places                                                  375
Travel arrangement and reservation services                                        305
Industries producing nondurable PCE commodities, excluding petroleum refineries    249
Name: Indirect tourism employment(in thousands), dtype: int64

Total employment by industry(Top 5)

In [195]:
total_employment_industry = employment_merged_df.groupby('Industry')['Total tourism-related employment(in thousands)'].sum()
total_employment_industry = total_employment_industry.sort_values(ascending=False)
total_employment_industry.head()

Industry
Food services and drinking places              11921
Traveler accommodations                        11570
Air transportation services                     8174
Travel arrangement and reservation services     3726
Participant sports                              2635
Name: Total tourism-related employment(in thousands), dtype: int64

Direct employment by industry(Top 5)

In [196]:
Direct_employment_industry = employment_merged_df.groupby('Industry')['Direct tourism employment(in thousands)'].sum()
Direct_employment_industry = Direct_employment_industry.sort_values(ascending=False)
Direct_employment_industry.head()

Industry
Food services and drinking places                             10087
Traveler accommodations                                        8138
Air transportation services                                    3217
Retail trade services, excluding gasoline service stations     1936
Travel arrangement and reservation services                    1928
Name: Direct tourism employment(in thousands), dtype: int64

Indirect employment by industry(Top 5)

In [197]:
indirect_employment_industry = employment_merged_df.groupby('Industry')['Indirect tourism employment(in thousands)'].sum()
indirect_employment_industry = indirect_employment_industry.sort_values(ascending=False)
indirect_employment_industry.head()

Industry
Air transportation services                    4957
Traveler accommodations                        3432
Food services and drinking places              1834
Travel arrangement and reservation services    1798
Participant sports                             1257
Name: Indirect tourism employment(in thousands), dtype: int64